---
name: exceptiondetail
url: /exceptiondetail/:employeeId/:employeeName
controller: exceptionController
dependencies: controllers/exceptionController,services/commonService
---
<div class="ui-container" ng-init="exDetailInit()">
  <div class="grid-block">
    <img src="../assets/img/u10.png"style="width: 200%">
  </div>
  <div style="text-align: right;margin-top: 1rem;margin-right: 1rem;">
    <span>个人帐号：</span>
    <span>lidanhong@vcredit.com</span>
  </div>
  <table style="margin-left: 1rem;margin-top: 30px;width: 96%;" role="grid" ng-if="details.length>0">
    <thead>
      <tr>
        <th>
          <input type="checkbox" ng-click="allChoose()" ng-model="all.choose">
        </th>
        <th>姓名</th>
        <th>日期</th>
        <th>上班时间</th>
        <th>上班处理</th>
        <th>下班时间</th>
        <th>下班处理</th>
      </tr>
    </thead>
    <tbody style="height: 3rem;" ng-repeat="d in details">
      <tr>
        <td style="">
          <input type="checkbox" ng-model="d.choose" ng-click="singleChoose()">
        </td>
        <td>{{::d.name}}</td>
        <td>{{::d.date}}</td>
        <td>{{d.arriveTime}}</td>
        <td>
          <select ng-model="d.amReason" style="overflow-y: hidden;font-size: 12px;height: 28px" ng-show="d.am==0">
              <option value="1">出勤</option>
              <option value="17">旷工</option>
              <option value="18">迟到</option>
              <option value="2">早退</option>
              <option value="3">忘打卡</option>
              <option value="4">事假</option>
              <option value="5">病假</option>
              <option value="6">产假</option>
              <option value="7">年休假</option>
              <option value="8">婚假</option>
              <option value="9">孕检假</option>
              <option value="10">护理假</option>
              <option value="11">丧假</option>
              <option value="12">工伤假</option>
              <option value="13">探亲假</option>
              <option value="14">公出</option>
              <option value="15">出差</option>
              <option value="16">新进离职不足月</option>
            </select>
        </td>
        <td>{{d.leaveTime}}</td>
        <td>
          <select ng-model="d.pmReason" style="overflow-y: hidden;font-size: 12px;height: 28px" ng-show="d.pm==0">
              <option value="1">出勤</option>
              <option value="17">旷工</option>
              <option value="18">迟到</option>
              <option value="2">早退</option>
              <option value="3">忘打卡</option>
              <option value="4">事假</option>
              <option value="5">病假</option>
              <option value="6">产假</option>
              <option value="7">年休假</option>
              <option value="8">婚假</option>
              <option value="9">孕检假</option>
              <option value="10">护理假</option>
              <option value="11">丧假</option>
              <option value="12">工伤假</option>
              <option value="13">探亲假</option>
              <option value="14">公出</option>
              <option value="15">出差</option>
              <option value="16">新进离职不足月</option>
            </select>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="grid-block "  style="margin-top: 3rem;"  ng-show="details.length>0">
    <div class="grid-block align-left medium-1 medium-offset-1">
      <select ng-model="all.reason" style="overflow-y: hidden;font-size: 12px;height: 34px;">
        <option value="1">出勤</option>
        <option value="17">旷工</option>
        <option value="18">迟到</option>
        <option value="2">早退</option>
        <option value="3">忘打卡</option>
        <option value="4">事假</option>
        <option value="5">病假</option>
        <option value="6">产假</option>
        <option value="7">年休假</option>
        <option value="8">婚假</option>
        <option value="9">孕检假</option>
        <option value="10">护理假</option>
        <option value="11">丧假</option>
        <option value="12">工伤假</option>
        <option value="13">探亲假</option>
        <option value="14">公出</option>
        <option value="15">出差</option>
        <option value="16">新进离职不足月</option>
      </select>
    </div>
    <div class="grid-block align-left medium-1">
      <a class="button expand" ng-click="singleReasonSubmit()">单一原因提交</a>
    </div>
    <div class="grid-block align-right medium-1 medium-offset-3">
      <a class="button expand"  ng-click="exceptionSubmit()">提交</a>
    </div>
  </div>
</div>

<div zf-modal="" id="exErrorModel">
  <img src="./assets/img/vc-warm-red.png" width="6%" style="display:block;float:left;">
  <p style="font-size: 18px;margin: 4px 0 0 4px;padding-left: 36px">{{exErrorMsg}}</p>
</div>

<div zf-modal="" id="backModel" overlay-close="false">
  <p style="font-size: 18px;margin: 4px 0 0 0px;">已全部处理完成，点击“确定”返回上一页</p>
  <p></p>
  <a class="button" style="width: 30%" ng-click="goBack()">确定</a>
</div>
