---
name: home
url: /home/:tab/:error
controller: homeController
dependencies: controllers/homeController,services/commonService,services/defaultService,FileSaver
---
<div class="ui-container" ng-init="employeeInit()">
  <div class="grid-block">
    <img src="../assets/img/u10.png" style="width: 200%">
  </div>
  <div style="text-align: right;margin-top: 1rem;margin-right: 1rem;">
    <span>当前用户：</span>
    <span>{{::currentUser.name}}</span>&nbsp;&nbsp;&nbsp;&nbsp;
    <span>当前职场：</span>
    <span>{{::currentPlace}}</span>
  </div>
  <div class="grid-block">
    <div class="grid-block medium-2 vertical" style="height: 280px;border-right: 1px solid #CCCCCC">
      <div class="menu">
        <a ng-click="chooseTab(0)" ng-class="{true:'choose_tab',false:'unchoose_tab'}[currentTag==0]">花名册</a>
      </div>
      <div class="menu">
        <a ng-click="chooseTab(1)" ng-class="{true:'choose_tab',false:'unchoose_tab'}[currentTag==1]">考勤导入</a>
      </div>
      <div class="menu">
        <a ng-click="chooseTab(2)" ng-class="{true:'choose_tab',false:'unchoose_tab'}[currentTag==2]">考勤查询</a>
      </div>
      <div class="menu">
        <a ng-click="chooseTab(3)" ng-class="{true:'choose_tab',false:'unchoose_tab'}[currentTag==3||currentTag==5]">异常处理</a>
      </div>
      <div class="menu">
        <a ng-click="chooseTab(4)" ng-class="{true:'choose_tab',false:'unchoose_tab'}[currentTag==4]">个人配置</a>
      </div>
      <div class="menu">
        <a ng-click="chooseTab(6)" ng-class="{true:'choose_tab',false:'unchoose_tab'}[currentTag==6]">节假日设置</a>
      </div>
    </div>
    <!--花名册tab-->
    <div ng-show="currentTag==0" ng-include="'templates/employeeView.html'" class="grid-block medium-10 vertical"></div>
    <!--考勤导入-->
    <div ng-show="currentTag==1" ng-include="'templates/workSourceView.html'" class=" medium-10 align-center vertical" style=" height: auto;"></div>
    <!--考勤查询tab-->
    <div ng-show="currentTag==2" ng-include="'templates/workQueryView.html'"  class="grid-block medium-10 vertical"></div>
    <!--异常处理1-->
    <div ng-show="currentTag==3" ng-include="'templates/exceptionListView.html'" class="grid-block medium-10 vertical" style="height: 100%;"></div>
    <!--异常处理2-->
    <div ng-show="currentTag==5" ng-include="'templates/exceptionDetailView.html'" class="grid-block medium-10 vertical" style="border-left: 1px solid #CCCCCC"></div>
    <!--个人配置-->
    <div ng-show="currentTag==4" ng-include="'templates/personalView.html'" class="grid-block medium-10 vertical"></div>
    <!--节假日设置-->
    <div ng-show="currentTag==6" ng-include="'templates/holidayView.html'" class="grid-block medium-10 vertical" style="border-left: 1px solid #CCCCCC"></div>
  </div>
</div>

<div zf-modal="" id="userModal">
  <a zf-close="" class="close-button">×</a>
  <h3 style="text-align: center;margin-top: 1rem;">导入花名册</h3>
  <form style="height: 2rem;text-align: center;margin-left: 100px;margin-top: 2rem;" id="eForm" method="post" enctype="multipart/form-data" action="/uploadEmployeeSrc">
    <input name="userId" ng-model="currentUser.userId" style="display: none">
    <input name="workPlaceId" ng-model="currentUser.workPlace" style="display: none">
    <input name="callbackUrl" ng-model="currentUser.callbackUrl" style="display: none">
    <input name="file" type="file" value="导入" input-on-change="employeeChange">
  </form>
  <div class="grid-block align-center" style="text-align: center;margin-top: 3rem;height: 15px;">
    <span style="color: red;font-weight: 700">注：</span>
    <span>导入数据必须按照标准模板文件格式导入。    </span>
    <a  style="margin-left: 50px;" href="./assets/excel/employee.xls">标准模板下载</a>
  </div>
  <div class="grid-block align-center" style="margin-top:3rem">
    <a class="button expand" style="width: 30%" ng-class="{true:'',false:'disabled'}[btn.employee]"  ng-click="uploadEmployee()">确定</a>
  </div>
</div>

<div zf-modal="" id="singleUserModal">
  <a zf-close="" class="close-button">×</a>
  <h3 style="text-align: center;margin: 10px auto">添加新员工</h3>
  <div class="grid-block vertical" style="margin-top: 2rem;text-align: center;">
    <form id="addUserForm" name="addUserForm">
      <div class = "add_new_employee">
        <p class="new_employee">工号：&nbsp;&nbsp;</p>
        <input style="width: 50%;margin-left: 20px;" type="text" placeholder="工号" ng-model="addUser.employeeId" required>
      </div>
      <div class = "add_new_employee">
        <p class="new_employee">姓名：&nbsp;&nbsp;</p>
        <input style="width: 50%;margin-left: 20px;" type="text" placeholder="姓名" ng-model="addUser.employeeName" required>
      </div>
      <div class = "add_new_employee">
        <p class="new_employee">入职时间：&nbsp;&nbsp;</p>
        <!--<input style="width: 50%;margin-left: 20px;" id="joinTimePicker" type="text" placeholder="入职时间" ng-model="addUser.joinTime" ng-focus="joinTimeFocus()" ng-blur="joinTimeBlur()" required>-->
        <mb-datepicker style="width: 50%;margin-left: -142px;margin-bottom: 4px;display: inline-block;" arrows="arrows" date="addUser.joinTime" date-format="YYYY-MM-DD" placeholder="入职时间" ></mb-datepicker>
      </div>
      <div class = "add_new_employee">
        <p class="new_employee">身份证：&nbsp;&nbsp;</p>
        <input style="width: 50%;margin-left: 20px;" type="text" placeholder="身份证" ng-model="addUser.nationalId" required>
      </div>
      <div class = "add_new_employee">
        <p class="new_employee">考勤编号：&nbsp;&nbsp;</p>
        <input style="width: 50%;margin-left: 20px;" type="text" placeholder="考勤编号" ng-model="addUser.machineId" required>
      </div>
      <div class = "add_new_employee">
        <p class="new_employee">部门：&nbsp;&nbsp;</p>
        <input style="width: 50%;margin-left: 20px;" type="text" placeholder="部门" ng-model="addUser.department" required>
      </div>
      <div class = "add_new_employee">
        <p class="new_employee">职位：&nbsp;&nbsp;</p>
        <input style="width: 50%;margin-left: 20px;" type="text" placeholder="职位" ng-model="addUser.position" required>
      </div>

    </form>
  </div>
  <div class="grid-block align-center" style="margin-top: 2.5rem;margin-bottom: 20px">
    <a class="button expand" style="width: 30%;" ng-class="{true:'disabled',false:''}[addUserForm.$invalid]"  ng-click="addEmployee()">确定</a>
  </div>
</div>

<div zf-modal="" id="errorModel">
  <img src="./assets/img/vc-warm-red.png" width="6%" style="display:block;float:left;">
  <p style="font-size: 18px;margin: 4px 0 0 4px;padding-left: 36px">{{msg.errorMsg}}</p>
</div>

<div zf-modal="" id="tagModel">
  <a zf-close="" class="close-button">×</a>
  <h3 style="text-align: center;margin-top: 3rem;">设定离职时间</h3>
  <div class="grid-block align-center" style="margin-top: 30px;">
    <div class="grid-block medium-2 align-right" >
      <p style="text-align: right;margin-top: 7px;">离职日期：</p>
    </div>
    <div class="grid-block medium-3" >
      <!--<input type="date" ng-model="tag.leaveDate">-->
      <mb-datepicker style="position: absolute" arrows="arrows" date="tag.leaveDate" date-format="YYYY-MM-DD" ></mb-datepicker>
    </div>
    <input type="hidden" ng-model="tag.employeeId">
  </div>
  <a class="button " style="width: 20%;margin-left: 40%;margin-top: 2rem;" ng-class="{true:'disabled',false:''}[tag.leaveDate==null||tag.leaveDate=='']"  ng-click="tagOff()">确定</a>
</div>

<div zf-modal="" id="tagHolidayModal" overlay-close="false" style="text-align: center;">
  <p style="font-size: 18px;margin: 5rem 0 0 0px;">{{::tagHolidayMsg}}</p>
  <a style="margin-top: 20px;margin-bottom: 5rem" class="button" ng-click="agree()">确定</a>
  <a style="margin-top: 20px;margin-bottom: 5rem" class="button" ng-click="refuse(1)">取消</a>
</div>

<div zf-modal="" id="exceptionSubmitModal" overlay-close="false"  style="text-align: center;">
  <p style="font-size: 18px;margin: 4px 0 0 0px;">确定提交？</p>
  <a style="margin-top: 20px;" class="button" ng-click="submitResultAgree()">确定</a>
  <a style="margin-top: 20px;" class="button" ng-click="refuse(2)">取消</a>
</div>
