---
name: home
url: /home/:tab/:error
controller: homeController
dependencies: controllers/homeController,services/commonService,services/defaultService,FileSaver
---
<div class="ui-container" ng-init="employeeInit()">
  <div class="grid-block">
    <img src="../assets/img/u10.png"style="width: 200%">
  </div>
  <div style="text-align: right;margin-top: 1rem;margin-right: 1rem;">
    <span>当前用户：</span>
    <span>{{::currentUser.name}}</span>&nbsp;&nbsp;&nbsp;&nbsp;
    <span>当前职场：</span>
    <span>{{::currentPlace}}</span>
  </div>
  <div class="grid-block">
    <div class="grid-block medium-2 vertical" style="height: 800px;border-right: 1px solid #CCCCCC">
      <div style="text-align: center;height: 3rem;line-height: 3rem">
        <a ng-click="chooseTab(0)">花名册</a>
      </div>
      <div style="text-align: center;height: 3rem;line-height: 3rem">
        <a ng-click="chooseTab(1)">考勤导入</a>
      </div>
      <div style="text-align: center;height: 3rem;line-height: 3rem">
        <a ng-click="chooseTab(2)">考勤查询</a>
      </div>
      <div style="text-align: center;height: 3rem;line-height: 3rem">
        <a ng-click="chooseTab(3)">异常处理</a>
      </div>
      <div style="text-align: center;height: 3rem;line-height: 3rem">
        <a ng-click="chooseTab(4)">个人配置</a>
      </div>
      <div class="grid-block align-center" style="height: 4rem;line-height: 4rem">
        <a ng-click="chooseTab(6)">节假日设置</a>
      </div>
    </div>
    <!--花名册tab-->
    <div ng-show="currentTag==0" class="grid-block medium-10 vertical" style="height: 100%;">
      <div style="margin-top: 10px;margin-left: 20px;">
        <span style="color: #0c4d78;">首页 — </span>
        <span style="color: #0c4d78;">花名册</span>
      </div>
      <div class="grid-block" style="margin-top: 10px;" >
        <div class="grid-block medium-9 medium-offset-1 align-center">
          <h3>花名册</h3>
        </div>
      </div>
      <div class="grid-block" style="margin-left: 1rem;height: 20px;">本职场总共在职人数：{{employeeCount.total}}&nbsp;&nbsp;本月入职人数：{{employeeCount.arrive}}&nbsp;&nbsp;本月离职人数：{{employeeCount.leave}}</div>
      <p></p>
      <div class="grid-block" style="margin-left:  -1%;">
        <div class="grid-block medium-1 align-right" style="margin-top: 10px">
          <span>工号：</span>
        </div>
        <div class="grid-block medium-1">
          <input type="text" ng-model="employeeQueryInfo.employeeId">
        </div>
        <div class="grid-block medium-1 align-right" style="margin-top: 10px">
          <span>身份证号：</span>
        </div>
        <div class="grid-block medium-1">
          <input type="text" ng-model="employeeQueryInfo.nationalId">
        </div>
        <div class="grid-block medium-1 align-right" style="margin-top: 10px">
          <span>姓名：</span>
        </div>
        <div class="grid-block medium-1">
          <input type="text" ng-model="employeeQueryInfo.employeeName">
        </div>
        <div class="grid-block medium-1 align-right" style="margin-top: 10px">
          <span>部门：</span>
        </div>
        <div class="grid-block medium-1">
          <input type="text" ng-model="employeeQueryInfo.department">
        </div>


        <div class="grid-block medium-1 align-right">
          <a class="button" ng-click="employeeQuery()" style="height: 2.4rem;width: 45%;">查      询</a>
        </div>
        <div class="grid-block medium-1 align-right">
          <a class="button" zf-open="userModal" style="height: 2.4rem;margin-left: 20px;">导入花名册</a>
        </div>
        <div class="grid-block medium-1 align-right">
          <a class="button" zf-open="singleUserModal" style="height: 2.4rem;">添加新员工</a>
        </div>
      </div>
      <div class="grid-block" style="margin-left: -1%;">
        <div class="grid-block medium-1 align-right" style="margin-top: 10px">
          <span>状态：</span>
        </div>
        <div class="grid-block medium-1">
          <select ng-model="employeeQueryInfo.jobStatus" >
            <option value="0">全部</option>
            <option value="1">在职</option>
            <option value="-1">离职</option>
          </select>
        </div>
        <div class="grid-block medium-1 align-right" style="margin-left: 1rem">
          <select ng-model="employeeQueryInfo.queryTime" style="width: 65%;">
            <option value="0">请选择</option>
            <option value="1">入职时间</option>
            <option value="2">离职时间</option>
          </select>
        </div>
        <div class="grid-block medium-2" style="margin-left: .4rem">
          <input type="date" ng-model="employeeQueryInfo.fromDate">
        </div>
        <span  style="margin-top: .5rem">至</span>
        <div class="grid-block medium-2">
          <input type="date" ng-model="employeeQueryInfo.endDate">
        </div>
      </div>
      <table style="margin-left: 1rem;width: 96%;" role="grid">
        <thead style="background: #0066cc;">
        <tr ng-if="employeeData.length>0">
          <th style="color: #ffffff;text-align: center;">序号</th>
          <th style="color: #ffffff;text-align: center;">工号</th>
          <th style="color: #ffffff;text-align: center;" >身份证号</th>
          <th style="color: #ffffff;text-align: center;">姓名</th>
          <th style="color: #ffffff;text-align: center;">考勤职场</th>
          <th style="color: #ffffff;text-align: center;">部门</th>
          <th style="color: #ffffff;text-align: center;">职位</th>
          <th style="color: #ffffff;text-align: center;">入职时间</th>
          <th style="color: #ffffff;text-align: center;">离职时间</th>
          <th style="color: #ffffff;text-align: center;">在职状态</th>
          <th style="color: #ffffff;text-align: center;">操作</th>
        </tr>
        </thead>
        <tbody>
          <tr ng-repeat="e in employeeData">
            <td style="text-align: center;">{{$index+1}}</td>
            <td style="text-align: center;">{{e.employeeId}}</td>
            <td style="text-align: center;">{{e.nationalId}}</td>
            <td style="text-align: center;">{{e.employeeName}}</td>
            <td style="text-align: center;">{{e.workPlace}}</td>
            <td style="text-align: center;">{{e.department}}</td>
            <td style="text-align: center;">{{e.position}}</td>
            <td style="text-align: center;">{{e.joinTime}}</td>
            <td style="text-align: center;">{{e.leaveTime}}</td>
            <td style="text-align: center;">{{e.status}}</td>
            <td style="text-align: center;"><button class="button" style="padding: .5rem;margin: 0" ng-class="{true:'',false:'disabled'}[e.status=='在职员工']" ng-click="openTagModel(e)">标记为离职</button></td>
          </tr>
        </tbody>
      </table>
    </div>
    <!--考勤数据导入tab-->
    <div ng-show="currentTag==1" class=" medium-10 align-center vertical" style=" height: auto;">
      <div style="margin-top: 10px;margin-left: 20px;">
        <span style="color: #0c4d78;">首页 — </span>
        <span style="color: #0c4d78;">考勤导入</span>
      </div>
      <div style="text-align: center;">
        <h3>考勤导入</h3>
      </div>
      <div class="grid-block align-center" style="margin-top: 3rem;">
        <form id="wForm" method="post" enctype="multipart/form-data" action="http://localhost:8080/wxoa/uploadWorkSrc">
          <input name="userId" ng-model="currentUser.userId" style="display: none">
          <input name="workPlaceId" ng-model="currentUser.workPlace" style="display: none">
          <input name="callbackUrl" ng-model="currentUser.callbackUrl" style="display: none">
          <input name="workFile" type="file" value="导入" input-on-change="workChange">
        </form>
      </div>
      <div class="grid-block align-center" style="margin-top: 4rem;">
        <a class="button expand" style="width: 12%;height: 32px;" ng-class="{true:'',false:'disabled'}[btn.work]" ng-click="uploadWorkSrc()" >确定</a>
      </div>
      <div class="grid-block align-center" style="text-align: center;margin-top: 4rem;height: 15px;">
        <span style="color: red">注：</span>
        <span>导入数据必须按照标准模板文件格式导入    </span>
        <a  style="margin-left: 50px;" ng-href="./assets/excel/{{xlsUrl}}">标准模板下载</a>
      </div>
    </div>
    <!--考勤查询tab-->
    <div ng-show="currentTag==2" class="grid-block medium-10 vertical">
      <div style="margin-top: 10px;margin-left: 20px;">
        <span style="color: #0c4d78;">首页 — </span>
        <span style="color: #0c4d78;">考勤查询</span>
      </div>
      <div style="text-align: center;">
        <h3>考勤查询</h3>
      </div>
      <div class="grid-block" style="margin-top: 10px;">
        <div class="grid-block medium-1 align-right" style="margin-top: 10px">
          <span>年份：</span>
        </div>
        <div class="grid-block medium-1">
          <select  ng-model="queryInfo.year" style="width: 100%;">
            <option value="0">请选择</option>
            <option value="2016">2016</option>
            <option value="2017">2017</option>
            <option value="2018">2018</option>
          </select>
        </div>
        <div class="grid-block medium-1 align-right" style="margin-top: 10px">
          <span>月份：</span>
        </div>
        <div class="grid-block medium-1">
          <select ng-model="queryInfo.month" style="width: 100%;">
            <option value="0">请选择</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
          </select>
        </div>
        <div class="grid-block medium-1 align-right" style="margin-top: 10px">
          <span>在职状态：</span>
        </div>
        <div class="grid-block medium-1">
          <select ng-model="queryInfo.jobStatus" style="width: 100%;">
            <option value="0">全部</option>
            <option value="1">在职</option>
            <option value="-1">离职</option>
          </select>
        </div>
      </div>
      <div class="grid-block">
        <div class="grid-block medium-1 align-right" style="margin-top: 10px">
          <span>工号：</span>
        </div>
        <div class="grid-block medium-1">
          <input type="text" ng-model="queryInfo.employeeId">
        </div>
        <div class="grid-block medium-1 align-right" style="margin-top: 10px">
          <span>身份证号：</span>
        </div>
        <div class="grid-block medium-1">
          <input type="text" ng-model="queryInfo.nationalId">
        </div>
        <div class="grid-block medium-1 align-right" style="margin-top: 10px">
          <span>姓名：</span>
        </div>
        <div class="grid-block medium-1">
          <input type="text" ng-model="queryInfo.employeeName">
        </div>
        <div class="grid-block medium-1 align-right" style="margin-top: 10px">
          <span>部门：</span>
        </div>
        <div class="grid-block medium-1">
          <input type="text" ng-model="queryInfo.department">
        </div>
        <div class="small-4 grid-block small-offset-2 medium-1" style="margin-left: 60px;">
          <a class="button"  style="height: 2.4rem; width: 14rem;" ng-click="query()">查询</a>
        </div>
        <div class="small-4 grid-block medium-1" style="margin-left: 40px;">
          <a class="button" ng-class="{true:'',false:'disabled'}[queryResult.length>0]" style="height: 2.4rem; width: 14rem;" ng-click="output()">导出</a>
        </div>
      </div>
      <div style="height:680px;overflow:auto;margin-top: 10px;" id="exportable">
        <!--考勤符号 出勤:/  旷工:○  迟到:﹟  早退:×  忘打卡：忘   事假:⊙   病假:⊕  产假:◎  年休假：年  婚假:Δ   孕检假：★    护理假：※   丧假：▲   工伤假：☆   探亲假:回   公出:公   出差：差  新进离职不足月：－   -->
        <table ng-show="queryResult.length>0" style="margin-left: 1rem;" role="grid">
          <thead style="background: #0066cc;">
          <tr>
            <th style="color: #ffffff;">部门</th>
            <th style="color: #ffffff;">姓名</th>
            <th style="color: #ffffff;">身份证号</th>
            <th ng-class="{true:'weekend',false:'unweekend'}[days.d1==0]">1A</th>
            <th ng-class="{true:'weekend',false:'unweekend'}[days.d1==0]">1P</th>
            <th ng-class="{true:'weekend',false:'unweekend'}[days.d2==0]">2A</th>
            <th ng-class="{true:'weekend',false:'unweekend'}[days.d2==0]">2P</th>
            <th ng-class="{true:'weekend',false:'unweekend'}[days.d3==0]">3A</th>
            <th ng-class="{true:'weekend',false:'unweekend'}[days.d3==0]">3P</th>
            <th ng-class="{true:'weekend',false:'unweekend'}[days.d4==0]">4A</th>
            <th ng-class="{true:'weekend',false:'unweekend'}[days.d4==0]">4P</th>
            <th ng-class="{true:'weekend',false:'unweekend'}[days.d5==0]">5A</th>
            <th ng-class="{true:'weekend',false:'unweekend'}[days.d5==0]">5P</th>
            <th ng-class="{true:'weekend',false:'unweekend'}[days.d6==0]">6A</th>
            <th ng-class="{true:'weekend',false:'unweekend'}[days.d6==0]">6P</th>
            <th ng-class="{true:'weekend',false:'unweekend'}[days.d7==0]">7A</th>
            <th ng-class="{true:'weekend',false:'unweekend'}[days.d7==0]">7P</th>
            <th ng-class="{true:'weekend',false:'unweekend'}[days.d8==0]">8A</th>
            <th ng-class="{true:'weekend',false:'unweekend'}[days.d8==0]">8P</th>
            <th ng-class="{true:'weekend',false:'unweekend'}[days.d9==0]">9A</th>
            <th ng-class="{true:'weekend',false:'unweekend'}[days.d9==0]">9P</th>
            <th ng-class="{true:'weekend',false:'unweekend'}[days.d10==0]">10A</th>
            <th ng-class="{true:'weekend',false:'unweekend'}[days.d10==0]">10P</th>
            <th ng-class="{true:'weekend',false:'unweekend'}[days.d11==0]">11A</th>
            <th ng-class="{true:'weekend',false:'unweekend'}[days.d11==0]">11P</th>
            <th ng-class="{true:'weekend',false:'unweekend'}[days.d12==0]">12A</th>
            <th ng-class="{true:'weekend',false:'unweekend'}[days.d12==0]">12P</th>
            <th ng-class="{true:'weekend',false:'unweekend'}[days.d13==0]">13A</th>
            <th ng-class="{true:'weekend',false:'unweekend'}[days.d13==0]">13P</th>
            <th ng-class="{true:'weekend',false:'unweekend'}[days.d14==0]">14A</th>
            <th ng-class="{true:'weekend',false:'unweekend'}[days.d14==0]">14P</th>
            <th ng-class="{true:'weekend',false:'unweekend'}[days.d15==0]">15A</th>
            <th ng-class="{true:'weekend',false:'unweekend'}[days.d15==0]">15P</th>
            <th ng-class="{true:'weekend',false:'unweekend'}[days.d16==0]">16A</th>
            <th ng-class="{true:'weekend',false:'unweekend'}[days.d16==0]">16P</th>
            <th ng-class="{true:'weekend',false:'unweekend'}[days.d17==0]">17A</th>
            <th ng-class="{true:'weekend',false:'unweekend'}[days.d17==0]">17P</th>
            <th ng-class="{true:'weekend',false:'unweekend'}[days.d18==0]">18A</th>
            <th ng-class="{true:'weekend',false:'unweekend'}[days.d18==0]">18P</th>
            <th ng-class="{true:'weekend',false:'unweekend'}[days.d19==0]">19A</th>
            <th ng-class="{true:'weekend',false:'unweekend'}[days.d19==0]">19P</th>
            <th ng-class="{true:'weekend',false:'unweekend'}[days.d20==0]">20A</th>
            <th ng-class="{true:'weekend',false:'unweekend'}[days.d20==0]">20P</th>
            <th ng-class="{true:'weekend',false:'unweekend'}[days.d21==0]">21A</th>
            <th ng-class="{true:'weekend',false:'unweekend'}[days.d21==0]">21P</th>
            <th ng-class="{true:'weekend',false:'unweekend'}[days.d22==0]">22A</th>
            <th ng-class="{true:'weekend',false:'unweekend'}[days.d22==0]">22P</th>
            <th ng-class="{true:'weekend',false:'unweekend'}[days.d23==0]">23A</th>
            <th ng-class="{true:'weekend',false:'unweekend'}[days.d23==0]">23P</th>
            <th ng-class="{true:'weekend',false:'unweekend'}[days.d24==0]">24A</th>
            <th ng-class="{true:'weekend',false:'unweekend'}[days.d24==0]">24P</th>
            <th ng-class="{true:'weekend',false:'unweekend'}[days.d25==0]">25A</th>
            <th ng-class="{true:'weekend',false:'unweekend'}[days.d25==0]">25P</th>
            <th ng-class="{true:'weekend',false:'unweekend'}[days.d26==0]">26A</th>
            <th ng-class="{true:'weekend',false:'unweekend'}[days.d26==0]">26P</th>
            <th ng-class="{true:'weekend',false:'unweekend'}[days.d27==0]">27A</th>
            <th ng-class="{true:'weekend',false:'unweekend'}[days.d27==0]">27P</th>
            <th ng-class="{true:'weekend',false:'unweekend'}[days.d28==0]">28A</th>
            <th ng-class="{true:'weekend',false:'unweekend'}[days.d28==0]">28P</th>
            <th ng-class="{true:'weekend',false:'unweekend'}[days.d29==0]">29A</th>
            <th ng-class="{true:'weekend',false:'unweekend'}[days.d29==0]">29P</th>
            <th ng-class="{true:'weekend',false:'unweekend'}[days.d30==0]">30A</th>
            <th ng-class="{true:'weekend',false:'unweekend'}[days.d30==0]">30P</th>
            <th ng-class="{true:'weekend',false:'unweekend'}[days.d31==0]" ng-hide="queryInfo.month==2||queryInfo.month==4||queryInfo.month==6||queryInfo.month==9||queryInfo.month==11">31A</th>
            <th ng-class="{true:'weekend',false:'unweekend'}[days.d31==0]" ng-hide="queryInfo.month==2||queryInfo.month==4||queryInfo.month==6||queryInfo.month==9||queryInfo.month==11">31P</th>
            <th >待处理</th>
            <th >迟到</th>
            <th >早退</th>
            <th >忘打</th>
            <th >年假</th>
            <th >事假</th>
            <th >病假</th>
            <th >婚假</th>
            <th >产假</th>
            <th >孕检假</th>
            <th >护理假</th>
            <th >丧假</th>
            <th >探亲假</th>
            <th >旷工</th>
            <th >出差</th>
            <th >不足月</th>
            <th >出勤</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="r in queryResult">
            <td>{{r.department}}</td>
            <td>{{r.employeeName}}</td>
            <td>{{r.nationalId}}</td>
            <td>{{r.day1a}}</td>
            <td>{{r.day1p}}</td>
            <td>{{r.day2a}}</td>
            <td>{{r.day2p}}</td>
            <td>{{r.day3a}}</td>
            <td>{{r.day3p}}</td>
            <td>{{r.day4a}}</td>
            <td>{{r.day4p}}</td>
            <td>{{r.day5a}}</td>
            <td>{{r.day5p}}</td>
            <td>{{r.day6a}}</td>
            <td>{{r.day6p}}</td>
            <td>{{r.day7a}}</td>
            <td>{{r.day7p}}</td>
            <td>{{r.day8a}}</td>
            <td>{{r.day8p}}</td>
            <td>{{r.day9a}}</td>
            <td>{{r.day9p}}</td>
            <td>{{r.day10a}}</td>
            <td>{{r.day10p}}</td>
            <td>{{r.day11a}}</td>
            <td>{{r.day11p}}</td>
            <td>{{r.day12a}}</td>
            <td>{{r.day12p}}</td>
            <td>{{r.day13a}}</td>
            <td>{{r.day13p}}</td>
            <td>{{r.day14a}}</td>
            <td>{{r.day14p}}</td>
            <td>{{r.day15a}}</td>
            <td>{{r.day15p}}</td>
            <td>{{r.day16a}}</td>
            <td>{{r.day16p}}</td>
            <td>{{r.day17a}}</td>
            <td>{{r.day17p}}</td>
            <td>{{r.day18a}}</td>
            <td>{{r.day18p}}</td>
            <td>{{r.day19a}}</td>
            <td>{{r.day19p}}</td>
            <td>{{r.day20a}}</td>
            <td>{{r.day20p}}</td>
            <td>{{r.day21a}}</td>
            <td>{{r.day21p}}</td>
            <td>{{r.day22a}}</td>
            <td>{{r.day22p}}</td>
            <td>{{r.day23a}}</td>
            <td>{{r.day23p}}</td>
            <td>{{r.day24a}}</td>
            <td>{{r.day24p}}</td>
            <td>{{r.day25a}}</td>
            <td>{{r.day25p}}</td>
            <td>{{r.day26a}}</td>
            <td>{{r.day26p}}</td>
            <td>{{r.day27a}}</td>
            <td>{{r.day27p}}</td>
            <td>{{r.day28a}}</td>
            <td>{{r.day28p}}</td>
            <td>{{r.day29a}}</td>
            <td>{{r.day29p}}</td>
            <td>{{r.day30a}}</td>
            <td>{{r.day30p}}</td>
            <td ng-hide="queryInfo.month==2||queryInfo.month==4||queryInfo.month==6||queryInfo.month==9||queryInfo.month==11">{{r.day31a}}</td>
            <td ng-hide="queryInfo.month==2||queryInfo.month==4||queryInfo.month==6||queryInfo.month==9||queryInfo.month==11">{{r.day31p}}</td>

            <td>{{r.exception}}</td>
            <td>{{r.late}}</td>
            <td>{{r.earlyLeave}}</td>
            <td>{{r.forget}}</td>
            <td>{{r.yearVacation}}</td>
            <td>{{r.affair}}</td>
            <td>{{r.disease}}</td>
            <td>{{r.marry}}</td>
            <td>{{r.maternity}}</td>
            <td>{{r.pregnant}}</td>
            <td>{{r.nursing}}</td>
            <td>{{r.funeral}}</td>
            <td>{{r.homeLeave}}</td>
            <td>{{r.absenteeism}}</td>
            <td>{{r.business}}</td>
            <td>{{r.notMonth}}</td>
            <td>{{r.attendance}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!--异常处理1-->
    <div ng-show="currentTag==3" class="grid-block medium-10 vertical" style="height: 100%;">
      <div style="margin-top: 10px;margin-left: 20px;">
        <span style="color: #0c4d78;">首页 — </span>
        <span style="color: #0c4d78;">异常处理</span>
      </div>
      <div style="text-align: center;">
        <h3>异常处理</h3>
      </div>
      <div class="grid-block" style="margin-left: -5%;"  ng-if="exceptionEmployee.length>0">
        <div class="grid-block medium-1 align-right" style="margin-top: 10px">工号：</div>
        <div class="grid-block medium-1">
          <input type="text" ng-model="exceptionQueryInfo.employeeId">
        </div>
        <div class="grid-block medium-1 align-right" style="margin-top: 10px">姓名：</div>
        <div class="grid-block medium-1">
          <input type="text" ng-model="exceptionQueryInfo.employeeName">
        </div>
        <div class="grid-block medium-1 align-right" style="margin-top: 10px">部门：</div>
        <div class="grid-block medium-1">
          <input type="text" ng-model="exceptionQueryInfo.department">
        </div>
        <div class="grid-block medium-1 align-right" style="margin-left: 5px;">
          <a class="button" ng-click="exceptionQuery()">查询</a>
        </div>
      </div>
      <table style="width: 86%;height: 3rem;margin-left: 15px;" role="grid" ng-if="exceptionEmployee.length>0">
        <thead style="background: #0066cc;">
        <tr>
          <th style="color: #ffffff;text-align: center;">序号</th>
          <th style="color: #ffffff;text-align: center;">工号</th>
          <th style="color: #ffffff;text-align: center;">身份证号</th>
          <th style="color: #ffffff;text-align: center;">姓名</th>
          <th style="color: #ffffff;text-align: center;">部门</th>
          <th style="color: #ffffff;text-align: center;">职位</th>
          <th style="color: #ffffff;text-align: center;">操作</th>
        </tr>
        </thead>
        <tbody style="width: 86%;height: 2rem" ng-repeat="ee in exceptionEmployee">
        <tr>
          <td style="text-align: center;">{{$index+1}}</td>
          <td style="text-align: center;">{{ee.employeeId}}</td>
          <td style="text-align: center;">{{ee.nationalId}}</td>
          <td style="text-align: center;">{{ee.employeeName}}</td>
          <td style="text-align: center;">{{ee.department}}</td>
          <td style="text-align: center;">{{ee.position}}</td>
          <td style="text-align: center;">  <a class="button" ng-click="exceptionDetail(ee)">处理</a></td>
        </tr>
        </tbody>
      </table>
    </div>
    <!--异常处理2-->
    <div ng-show="currentTag==5" class="grid-block medium-10 vertical" style="border-left: 1px solid #CCCCCC" >
      <div style="margin-top: 10px;margin-left: 20px;">
        <span style="color: #0c4d78;">首页 — </span>
        <span style="color: #0c4d78;">异常处理</span>
      </div>
      <div style="text-align: center;">
        <h3>异常处理</h3>
      </div>
      <table style="margin-left: 1rem;margin-top: 30px;width: 96%;" role="grid" ng-if="details.length>0">
        <thead style="background: #0066cc;">
        <tr>
          <th style="color: #ffffff;text-align: center;">
            <input type="checkbox" ng-click="allChoose()" ng-model="all.choose">
          </th>
          <th style="color: #ffffff;text-align: center;">姓名</th>
          <th style="color: #ffffff;text-align: center;">日期</th>
          <th style="color: #ffffff;text-align: center;">上班时间</th>
          <th style="color: #ffffff;text-align: center;">上班处理</th>
          <th style="color: #ffffff;text-align: center;">下班时间</th>
          <th style="color: #ffffff;text-align: center;">下班处理</th>
        </tr>
        </thead>
        <tbody style="height: 3rem;" ng-repeat="d in details">
        <tr>
          <td style="text-align: center;">
            <input type="checkbox" ng-model="d.choose" ng-click="singleChoose()">
          </td>
          <td style="text-align: center;">{{::d.name}}</td>
          <td style="text-align: center;">{{::d.date}}</td>
          <td style="text-align: center;">{{d.arriveTime}}</td>
          <td style="text-align: center;width: 200px;">
            <select ng-model="d.amReason" style="overflow-y: hidden;font-size: 12px;height: 30px" ng-show="d.am==0">
              <option value="1">出勤</option>
              <option value="17">旷工</option>
              <option value="18">迟到</option>
              <option value="2">早退</option>
              <option value="3">忘打卡</option>
              <option value="4">事假</option>
              <option value="5">病假</option>
              <option value="6">产假</option>
              <option value="7">年休假</option>
              <option value="8">婚假</option>
              <option value="9">孕检假</option>
              <option value="10">护理假</option>
              <option value="11">丧假</option>
              <option value="12">工伤假</option>
              <option value="13">探亲假</option>
              <option value="14">公出</option>
              <option value="15">出差</option>
              <option value="16">新进离职不足月</option>
            </select>
          </td>
          <td style="text-align: center;">{{d.leaveTime}}</td>
          <td style="text-align: center;width: 200px;">
            <select ng-model="d.pmReason" style="overflow-y: hidden;font-size: 12px;height: 30px" ng-show="d.pm==0">
              <option value="1">出勤</option>
              <option value="17">旷工</option>
              <option value="18">迟到</option>
              <option value="2">早退</option>
              <option value="3">忘打卡</option>
              <option value="4">事假</option>
              <option value="5">病假</option>
              <option value="6">产假</option>
              <option value="7">年休假</option>
              <option value="8">婚假</option>
              <option value="9">孕检假</option>
              <option value="10">护理假</option>
              <option value="11">丧假</option>
              <option value="12">工伤假</option>
              <option value="13">探亲假</option>
              <option value="14">公出</option>
              <option value="15">出差</option>
              <option value="16">新进离职不足月</option>
            </select>
          </td>
        </tr>
        </tbody>
      </table>
      <div class="grid-block "  style="margin-top: 3rem;margin-left: 250px;"  ng-show="details.length>0">
        <div class="grid-block align-left medium-1 medium-offset-1">
          <select ng-model="all.reason" style="overflow-y: hidden;font-size: 12px;height: 30px;">
            <option value="1">出勤</option>
            <option value="17">旷工</option>
            <option value="18">迟到</option>
            <option value="2">早退</option>
            <option value="3">忘打卡</option>
            <option value="4">事假</option>
            <option value="5">病假</option>
            <option value="6">产假</option>
            <option value="7">年休假</option>
            <option value="8">婚假</option>
            <option value="9">孕检假</option>
            <option value="10">护理假</option>
            <option value="11">丧假</option>
            <option value="12">工伤假</option>
            <option value="13">探亲假</option>
            <option value="14">公出</option>
            <option value="15">出差</option>
            <option value="16">新进离职不足月</option>
          </select>
        </div>
        <div class="grid-block align-left medium-1" style="height: 44px;">
          <a class="button expand" ng-click="singleReasonSubmit()">单一原因提交</a>
        </div>
        <div class="grid-block align-right medium-1 medium-offset-3" style="height: 44px;">
          <a class="button expand"  ng-click="exceptionSubmit()">提交</a>
        </div>
      </div>

    </div>

    <!--个人配置-->
    <div ng-show="currentTag==4" class="grid-block medium-10 vertical">
      <div style="margin-top: 10px;margin-left: 20px;">
        <span style="color: #0c4d78;">首页 — </span>
        <span style="color: #0c4d78;">个人配置</span>
      </div>
      <div style="text-align: center;">
        <h3>个人配置</h3>
      </div>
      <div>
        <div>
          <p style="margin-left: 15px;">职场以及职场规则</p>
        </div>
        <table style="margin-left: 10%;" role="grid">
          <thead>
          <tr>
            <th style="width: 200px;text-align: center;">职场</th>
            <th style="width: 200px;text-align: center;">工作时间</th>
            <th style="width: 200px;text-align: center;">迟到时间</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td style="text-align: center">上海</td>
            <td style="text-align: center">8:45 - 17:45</td>
            <td style="text-align: center">8:45 - 9:15</td>
          </tr>
          <tr>
            <td style="text-align: center">苏州凤凰</td>
            <td style="text-align: center">8:45 - 17:45</td>
            <td style="text-align: center">8:45 - 9:15</td>
          </tr>
          <tr>
            <td style="text-align: center">苏州恒宇</td>
            <td style="text-align: center">8:45 - 17:45</td>
            <td style="text-align: center">8:45 - 8:55</td>
          </tr>
          </tbody>
        </table>
      </div>
      <div>
        <div style="margin-top: 30px;margin-left: 15px;">
          <p>异常规则及其符号</p>
        </div>
        <div>
          <table style="margin-left: 10%;" role="grid">
            <tbody>
            <tr>
              <td style="text-align: center;width: 200px;">出勤 :/</td>
              <td style="text-align: center;width: 200px;">旷工 :○</td>
              <td style="text-align: center;width: 200px;">迟到 :﹟</td>
            </tr>
            <tr>
              <td style="text-align: center;width: 200px;">早退 :×</td>
              <td style="text-align: center;width: 200px;">忘打卡 :忘</td>
              <td style="text-align: center;width: 200px;">事假 :⊙</td>
            </tr>
            <tr>
              <td style="text-align: center;width: 200px;">病假 :⊕</td>
              <td style="text-align: center;width: 200px;">产假 :◎</td>
              <td style="text-align: center;width: 200px;">年休假 :年</td>
            </tr>
            <tr>
              <td style="text-align: center;width: 200px;">婚假 :Δ</td>
              <td style="text-align: center;width: 200px;">孕检假 :★</td>
              <td style="text-align: center;width: 200px;">护理假 :※</td>
            </tr>
            <tr>
              <td style="text-align: center;width: 200px;">丧假 :▲</td>
              <td style="text-align: center;width: 200px;">工伤假 :☆</td>
              <td style="text-align: center;width: 200px;">探亲假 :回</td>
            </tr>
            <tr>
              <td style="text-align: center;width: 200px;">公出 :公</td>
              <td style="text-align: center;width: 200px;">出差 :差</td>
              <td style="text-align: center;width: 200px;">新进离职不足月 :－</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!--节假日设置-->
    <div ng-show="currentTag==6" class="grid-block medium-10 vertical" style="border-left: 1px solid #CCCCCC">
      <div style="margin-top: 10px;margin-left: 20px;">
        <span style="color: #0c4d78;">首页 — </span>
        <span style="color: #0c4d78;">节假日设置</span>
      </div>
      <div style="text-align: center;">
        <h3>节假日设置</h3>
      </div>
      <div style="margin-left: 1rem;">
        <div style="width: 20%;margin-left: 1rem;margin-top: 2rem;">
          <span>标记为节假日：</span>
        </div>
        <div>
          <a class="button" ng-click="tagHolidayChange()" ng-class="{true:'disabled',false:''}[queryInfo.tagHoliday=='']">确定</a>
        </div>
        <div style="width: 200px;margin-left: 1rem;margin-top: 1rem">
          <input type="date" ng-model="queryInfo.tagHoliday">
        </div>
        <div style="margin-left: 1rem">
          <p ng-repeat="l in logInfo">
            {{$index+1}}.{{l.userName}}在{{l.operateDate}}日标记{{l.tagDate}}为节假日。
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div zf-modal="" id="userModal">
  <a zf-close="" class="close-button">×</a>
  <h3 style="text-align: center">导入花名册</h3>
  <form style="height: 2rem;text-align: center;margin-left: 100px;margin-top: 2rem;" id="eForm" method="post" enctype="multipart/form-data" action="http://localhost:8080/wxoa/uploadEmployeeSrc">
    <input name="userId" ng-model="currentUser.userId" style="display: none">
    <input name="workPlaceId" ng-model="currentUser.workPlace" style="display: none">
    <input name="callbackUrl" ng-model="currentUser.callbackUrl" style="display: none">
    <input name="file" type="file" value="导入" input-on-change="employeeChange">
  </form>
  <div class="grid-block align-center" style="text-align: center;margin-top: 4rem;height: 15px;">
    <span style="color: red">注：</span>
    <span>导入数据必须按照标准模板文件格式导入    </span>
    <a  style="margin-left: 50px;" href="./assets/excel/employee.xls">标准模板下载</a>
  </div>
  <div class="grid-block align-center" style="margin-top:3rem">
    <a class="button expand" style="width: 30%" ng-class="{true:'',false:'disabled'}[btn.employee]"  ng-click="uploadEmployee()">确定</a>
  </div>
</div>

<div zf-modal="" id="singleUserModal">
  <a zf-close="" class="close-button">×</a>
  <h3 style="text-align: center;">添加新员工</h3>
  <div class="grid-block vertical" style="margin-top: 2rem;">
    <form id="addUserForm" name="addUserForm">
      <input type="text"  placeholder="工号" ng-model="addUser.employeeId" required>
      <input type="text"  placeholder="身份证号" ng-model="addUser.nationalId" required>
      <input type="text"  placeholder="考勤编号" ng-model="addUser.machineId" required>
      <input type="text"  placeholder="姓名" ng-model="addUser.employeeName" required>
      <input type="text"  placeholder="部门" ng-model="addUser.department" required>
      <input type="text"  placeholder="职位" ng-model="addUser.position" required>
      <input id="joinTimePicker" type="text"  placeholder="入职时间" ng-model="addUser.joinTime" ng-focus="joinTimeFocus()" ng-blur="joinTimeBlur()" required>
    </form>
  </div>
  <div class="grid-block align-center" style="margin-top: 2rem">
    <a class="button expand" style="width: 30%;" ng-class="{true:'disabled',false:''}[addUserForm.$invalid]"  ng-click="addEmployee()">确定</a>
  </div>
</div>

<div zf-modal="" id="errorModel">
  <img src="./assets/img/vc-warm-red.png" width="6%" style="display:block;float:left;">
  <p style="font-size: 18px;margin: 4px 0 0 4px;padding-left: 36px">{{msg.errorMsg}}</p>
</div>

<div zf-modal="" id="tagModel">
  <a zf-close="" class="close-button">×</a>
  <h3 style="text-align: center;margin-top: 3rem;">设定离职时间</h3>
  <div style="margin-top: 2rem;">
    <p style="margin-top:7px;margin-left: 10px;float: left">请选择离职日期：</p>
    <input type="date" ng-model="tag.leaveDate" style="width: 50%;margin-left: 25%;">
    <input type="hidden" ng-model="tag.employeeId">
  </div>
  <a class="button " style="width: 20%;margin-left: 40%;margin-top: 2rem;" ng-class="{true:'disabled',false:''}[tag.leaveDate==null||tag.leaveDate=='']"  ng-click="tagOff()">确定</a>
</div>

<div zf-modal="" id="tagHolidayModal" overlay-close="false">
  <p style="font-size: 18px;margin: 4px 0 0 0px;">{{::tagHolidayMsg}}</p>
  <a class="button" ng-click="agree()">确定</a>
  <a class="button" ng-click="refuse(1)">取消</a>
</div>

<div zf-modal="" id="exceptionSubmitModal" overlay-close="false">
  <p style="font-size: 18px;margin: 4px 0 0 0px;">确定提交？</p>
  <a class="button" ng-click="submitResultAgree()">确定</a>
  <a class="button" ng-click="refuse(2)">取消</a>
</div>
