---
name: login
url: /login
controller: loginController
dependencies: controllers/loginController,services/commonService
---
<div class="ui-container" style="margin: 20rem auto;width: 100%;height: 100%">
  <div style="width: 30%;float: left;margin-top: -25px;margin-left: 20%;">
    <div style="width: auto">
      <img src="../assets/img/u12.jpg"/>
    </div>
    <div style="width: auto; width: 80%">
      <img src="../assets/img/u31.png"/>
    </div>
  </div>
  <div style="width: 20%;float: right;margin-right: 30%;border-left: solid 1px #CCCCCC;">
    <form style="padding-left: 100px;padding-top: 10px">
      <input type="text" placeholder="请输入用户名" ng-model="userInfo.account">
      <input type="password" placeholder="请输入登录密码" ng-model="userInfo.password">
      <a class="expand button" ng-click="login()">登录</a>
    </form>
  </div>
</div>
<div style="width: 75%;height: 1px;text-align: center;margin-top:15%;margin-left: 10%;">
  <p style="height: 250px;"></p>
  <img src="../assets/img/u28_line.png">
  <p style="font-size: 10px;">@2016 维信金科 版权所有</p>
</div>
