
    <div style="margin-top: 10px;margin-left: 20px;">
        <span style="color: #0c4d78;">首页 — </span>
        <span style="color: #0c4d78;">个人配置</span>
    </div>
    <div style="text-align: center;">
        <h3>个人配置</h3>
    </div>
    <div style="height: 50px"><p>&nbsp;</p></div>
    <div style="margin: 0 auto;">
        <p style="margin-left: 10%">考勤时间说明</p>
        <table style="margin-left: 10%;margin-top: -10px;" role="grid">
            <thead style="background: #0066CC;">
            <tr>
                <th style="width: 200px;text-align: center;color: #ffffff;">职场</th>
                <th style="width: 200px;text-align: center;color: #ffffff;">工作时间</th>
                <th style="width: 200px;text-align: center;color: #ffffff;">迟到时间</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td style="text-align: center">上海</td>
                <td style="text-align: center">8:45 - 17:45</td>
                <td style="text-align: center">8:45 - 9:15</td>
            </tr>
            <tr>
                <td style="text-align: center">苏州凤凰</td>
                <td style="text-align: center">8:45 - 17:45</td>
                <td style="text-align: center">8:45 - 9:15</td>
            </tr>
            <tr>
                <td style="text-align: center">苏州恒宇</td>
                <td style="text-align: center">8:45 - 17:45</td>
                <td style="text-align: center">8:45 - 8:55</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div style="margin: 10px auto;">
        <p style="margin-left: 10%">异常符号说明</p>
        <div style="margin-top: -10px;">
            <table style="margin-left: 10%;" role="grid">
                <tbody>
                <tr>
                    <td style="text-align: center;width: 200px;">出勤&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;/</td>
                    <td style="text-align: center;width: 200px;">旷工&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;○</td>
                    <td style="text-align: center;width: 200px;">迟到&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;﹟</td>
                </tr>
                <tr>
                    <td style="text-align: center;width: 200px;">早退&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;×</td>
                    <td style="text-align: center;width: 200px;">忘打卡&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;忘</td>
                    <td style="text-align: center;width: 200px;">事假&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;⊙</td>
                </tr>
                <tr>
                    <td style="text-align: center;width: 200px;">病假&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;⊕</td>
                    <td style="text-align: center;width: 200px;">产假&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;◎</td>
                    <td style="text-align: center;width: 200px;">年休假&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;年</td>
                </tr>
                <tr>
                    <td style="text-align: center;width: 200px;">婚假&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Δ</td>
                    <td style="text-align: center;width: 200px;">孕检假&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;★</td>
                    <td style="text-align: center;width: 200px;">护理假&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;※</td>
                </tr>
                <tr>
                    <td style="text-align: center;width: 200px;">丧假&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;▲</td>
                    <td style="text-align: center;width: 200px;">工伤假&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;☆</td>
                    <td style="text-align: center;width: 200px;">探亲假&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;回</td>
                </tr>
                <tr>
                    <td style="text-align: center;width: 200px;">公出&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;公</td>
                    <td style="text-align: center;width: 200px;">出差&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;差</td>
                    <td style="text-align: center;width: 200px;">新进离职不足月&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;－</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>